
$color-header: #e0e1dd; 
$fondo-main: linear-gradient(180deg, #1b263b 0%, #aaaeb4 35%, #e0e1dd 100%);
$fondo-main2: linear-gradient(180deg, #f2f2f2 0%, #aaaeb4 35%, #1b263b 100%);
$fondo-footer: #778da9; 





